
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Size</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in invoice_details %}
                                <tr>
                                    <td>{{ item[0] }}</td>
                                    <td>{{ item[1] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td>{{ item[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tr class="table-dark">
                            <td><b>Total </b></td>
                            <td><b></b></td>
                            <td><b>{{ total_products }}</b></td>
                            <td><b>{{ total_amount }}</b></td>
                            <td></td>
                        </tr>
                    </table>
                